*{
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
    color: white;
}
.navbar {
    display: flex;
    padding-left: 10px;
    margin: 9px;
}
.navbar{
    height: fit-content;
    /* width: fit-content; */
    /* background-color: gray; */
}

.a{
    padding: 8px;
}
.ab{
    padding: 8px;
}
.abc{
    padding:8px;
}
 .search{
    
    height: fit-content;
    /* pad: 8px 18px; */
    /* margin-left: 12px;  */

} 
a{
    text-decoration: none;
    color: white;
}

#hero{
    max-height: max-content;
    width: max-content;
}
.sec{
    padding: 0;
    /* background-color: aqua; */
}
/* .photo{
    height:100;
    width: 100;
} */


